/* Begin Stylesheet */

/* main background info */
body {
    background-color: rgb(26, 26, 26);
}

/* Text Style */
a {
    font-family: "San Francisco", sans-serif;
    font-weight: 100
}

/* fonts */
@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }


/* PDF view for production_info.html */
#pdf {
    margin-left: 10%;
}
